.sm {
  margin: 0;
}

#regionsSVGContainer {
  width: 1024px;
  height: 1024px;
}

#graphContainer {
  width: 768;
  height: 768;
}

svg {
  /*margin-left: 300px*/
}

#tooltip {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

path {
}

path.selected {
  fill: #cc8888 !important;
}

.word {
  padding: 0;
  margin-right: 1em;
  margin-bottom: 0;
  display: inline-block;
}

#wordContainer {
  position: absolute;
  width: 512px;
  right: 0;
  top: 0;
}

.month {
  font-weight: bold;
}
