.sm {
  margin: 0;
}

body {
  font-family: "EB Garamond", serif;
}

.title {
  margin: 0;
  font-size: 24pt;
  font-style: italic;
  color: #141;
}

.dateHeader {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.layoutSVG {
  width: 768;
  height: 768;
}

svg {
  /*margin-left: 300px*/
  border-color: black;
  border-width: 3px;
}

#tooltip {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}

path.selected {
  fill: #cc8888 !important;
}

.word {
  padding: 0;
  margin-right: 1em;
  margin-bottom: 0;
  display: inline-block;
}

#sidebar {
  position: absolute;
  width: 400px;
  left: 0;
  top: 0;
  border-right: 1px solid #888;
  height: 100%;
  overflow-y: scroll;
}

#wordContainer {
  padding: 0em 1em 1em 1em;
}

#articleContainer {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#titlebar {
  padding: 1em 1em 1em 1em;
}

#titlediv {
}

#controls {
  padding-left: 1em;
  padding-right: 1em;
}

#map {
  position: absolute;
  top: 0;
  left: 400px;
  /*background-color: #85b8f5;*/
  background-color: #123652;
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.month {
  font-weight: bold;
}

#svgContainer svg {
  width: 100%;
}

.articleLink {
  color: #161;
}

.articleDate {
  margin-left: 0.5em;
  color: #888;
}

#attribution {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  top: 0;
}

#mapControls {
  position: fixed;
  right: 0;
  bottom: 40;
  z-index: 10;
}
